* {
    padding:0;
    margin:0;
    font-family: sans-serif;
    
}
a {
    color: inherit;
    text-decoration: none;
}
.medsos{
    padding: 5px 0;
    background-color:#8B0000;
}
.medsos ul li {
    display: inline-block;
    color: aliceblue;
}
.container {
    width: 80%;
    margin:0 auto;
}
.container:after {
    content:"";
    display: block;
    clear: both;
}

header h1 {
    float: left;
    padding:15px 0;
    color: #8B0000;
}
header ul {
    float: right;
  
}
header ul li{
    display: inline-block;
}
header ul li a {
    padding: 25px 20px;
    display: inline-block;
}
header ul li a:hover {
    background-color: #8B0000;
    color: aliceblue;
}
.active {
    background-color: #8B0000;
    color: aliceblue;
}
.banner {
    height: 60vh;
    border: 1px solid;
    background-image: url('../img/fashion.jpg');
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner::after {
    content:"";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(139,0,0, .6);
}
.banner h2{
    color: aliceblue;
    z-index: 1;
    padding:20px 25px;
    border:3px solid aliceblue;
}
section {
    padding:50px 0;
}